In [1]:
print("ok")

ok

In [2]:
'''
mongodb+srv://bishwajyotichaudhary46:Bismuth@123@cluster0.tofa7.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
'''

'\nmongodb+srv://bishwajyotichaudhary46:Bismuth@123@cluster0.tofa7.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0\n'

In [1]:
import pandas as pd
from datetime import datetime, timedelta

In [44]:
df = pd.read_csv("final_data.csv")

In [27]:
devanagari_to_english = {
    '०': '0', '१': '1', '२': '2', '३': '3', '४': '4',
    '५': '5', '६': '6', '७': '7', '८': '8', '९': '9'
}

def replace_devanagari_with_eng(text):
    for dev, eng in devanagari_to_english.items():
        text = text.replace(dev, eng)
    return text

In [45]:
df_potato= df[df['Commodity'] == 'आलु रातो']
df_potato = df_potato[['Date', 'Average']]
start_date = datetime(2013, 4, 15)
end_date = datetime.now()
df_potato

              Date   Average
2       04/15/2013  रू १५.००
74      04/16/2013  रू १७.००
144     04/17/2013  रू १८.००
214     04/18/2013  रू १९.००
294     04/21/2013  रू १९.००
...            ...       ...
320341  09/25/2024  रू ७९.००
320435  09/26/2024  रू ८०.००
320531  09/27/2024  रू ७७.६७
320627  09/28/2024  रू ७७.६७
320718  09/29/2024  रू ७८.३३

[4009 rows x 2 columns]

In [46]:
 # Generate the range of dates for the year 2024
date_range = []
current = start_date
end_date = datetime.now()
while current <= end_date:
    date_range.append(current.strftime('%m/%d/%Y'))
    current += timedelta(days=1)

date_range = pd.Index(date_range)
complete_df = pd.DataFrame(date_range, columns=['Date'])
complete_df

            Date
0     04/15/2013
1     04/16/2013
2     04/17/2013
3     04/18/2013
4     04/19/2013
...          ...
4182  09/26/2024
4183  09/27/2024
4184  09/28/2024
4185  09/29/2024
4186  09/30/2024

[4187 rows x 1 columns]

In [ ]:
df_potato

In [47]:
final_df = pd.merge(complete_df,df_potato, on=['Date'], how='left')

In [48]:
final_df

            Date   Average
0     04/15/2013  रू १५.००
1     04/16/2013  रू १७.००
2     04/17/2013  रू १८.००
3     04/18/2013  रू १९.००
4     04/19/2013       NaN
...          ...       ...
4182  09/26/2024  रू ८०.००
4183  09/27/2024  रू ७७.६७
4184  09/28/2024  रू ७७.६७
4185  09/29/2024  रू ७८.३३
4186  09/30/2024       NaN

[4187 rows x 2 columns]

In [49]:
df_potato['Average'] = df_potato['Average'].str.replace("रू","")

In [50]:
df_potato['Average'] = df_potato['Average'].astype('str').apply(replace_devanagari_with_eng).astype('float')

In [54]:
df_potato

              Date  Average
2       2013-04-15    15.00
74      2013-04-16    17.00
144     2013-04-17    18.00
214     2013-04-18    19.00
294     2013-04-21    19.00
...            ...      ...
319871  2024-09-20    76.67
320154  2024-09-23    62.67
320248  2024-09-24    77.67
320341  2024-09-25    79.00
320435  2024-09-26    80.00

[4006 rows x 2 columns]

In [55]:
df_potato.set_index('Date', inplace=True)

In [56]:
df_potato

            Average
Date
2013-04-15    15.00
2013-04-16    17.00
2013-04-17    18.00
2013-04-18    19.00
2013-04-21    19.00
...             ...
2024-09-20    76.67
2024-09-23    62.67
2024-09-24    77.67
2024-09-25    79.00
2024-09-26    80.00

[4006 rows x 1 columns]

In [57]:
df_potato.fillna(df_potato.ewm(span=7, adjust=False).mean(), inplace=True)

In [58]:
df_potato

            Average
Date
2013-04-15    15.00
2013-04-16    17.00
2013-04-17    18.00
2013-04-18    19.00
2013-04-21    19.00
...             ...
2024-09-20    76.67
2024-09-23    62.67
2024-09-24    77.67
2024-09-25    79.00
2024-09-26    80.00

[4006 rows x 1 columns]

In [5]:
data = df_potato.to_dict(orient='records')
data

[{'Date': '04/15/2013', 'Average': 'रू १५.००'},
 {'Date': '04/16/2013', 'Average': 'रू १७.००'},
 {'Date': '04/17/2013', 'Average': 'रू १८.००'},
 {'Date': '04/18/2013', 'Average': 'रू १९.००'},
 {'Date': '04/21/2013', 'Average': 'रू १९.००'},
 {'Date': '04/22/2013', 'Average': 'रू १९.००'},
 {'Date': '04/23/2013', 'Average': 'रू १९.००'},
 {'Date': '04/25/2013', 'Average': 'रू १८.००'},
 {'Date': '04/26/2013', 'Average': 'रू १९.००'},
 {'Date': '04/28/2013', 'Average': 'रू १८.००'},
 {'Date': '04/29/2013', 'Average': 'रू १८.००'},
 {'Date': '04/30/2013', 'Average': 'रू १८.००'},
 {'Date': '05/02/2013', 'Average': 'रू १९.००'},
 {'Date': '05/03/2013', 'Average': 'रू १९.००'},
 {'Date': '05/05/2013', 'Average': 'रू १९.००'},
 {'Date': '05/06/2013', 'Average': 'रू १९.००'},
 {'Date': '05/07/2013', 'Average': 'रू १९.००'},
 {'Date': '05/08/2013', 'Average': 'रू १८.००'},
 {'Date': '05/09/2013', 'Average': 'रू १९.००'},
 {'Date': '05/10/2013', 'Average': 'रू १८.००'},
 {'Date': '05/12/2013', 'Average': 'रू १८.००'},
 {'Date': '05/13/2013', 'Average': 'रू १९.००'},
 {'Date': '05/14/2013', 'Average': 'रू १९.००'},
 {'Date': '05/15/2013', 'Average': 'रू १९.००'},
 {'Date': '05/16/2013', 'Average': 'रू १९.००'},
 {'Date': '05/17/2013', 'Average': 'रू १९.००'},
 {'Date': '05/19/2013', 'Average': 'रू १९.००'},
 {'Date': '05/20/2013', 'Average': 'रू १९.००'},
 {'Date': '05/21/2013', 'Average': 'रू १९.००'},
 {'Date': '05/22/2013', 'Average': 'रू १९.००'},
 {'Date': '05/23/2013', 'Average': 'रू १९.००'},
 {'Date': '05/24/2013', 'Average': 'रू १९.००'},
 {'Date': '05/26/2013', 'Average': 'रू २०.००'},
 {'Date': '05/27/2013', 'Average': 'रू १९.००'},
 {'Date': '05/28/2013', 'Average': 'रू १९.००'},
 {'Date': '05/30/2013', 'Average': 'रू १८.००'},
 {'Date': '05/31/2013', 'Average': 'रू १९.००'},
 {'Date': '06/02/2013', 'Average': 'रू १९.००'},
 {'Date': '06/03/2013', 'Average': 'रू १८.००'},
 {'Date': '06/04/2013', 'Average': 'रू १९.००'},
 {'Date': '06/05/2013', 'Average': 'रू १९.००'},
 {'Date': '06/06/2013', 'Average': 'रू १८.००'},
 {'Date': '06/09/2013', 'Average': 'रू २०.००'},
 {'Date': '06/10/2013', 'Average': 'रू २०.००'},
 {'Date': '06/11/2013', 'Average': 'रू २०.००'},
 {'Date': '06/12/2013', 'Average': 'रू २०.००'},
 {'Date': '06/13/2013', 'Average': 'रू २०.००'},
 {'Date': '06/14/2013', 'Average': 'रू २०.००'},
 {'Date': '06/16/2013', 'Average': 'रू २१.००'},
 {'Date': '06/17/2013', 'Average': 'रू २१.००'},
 {'Date': '06/18/2013', 'Average': 'रू २०.००'},
 {'Date': '06/19/2013', 'Average': 'रू २१.००'},
 {'Date': '06/20/2013', 'Average': 'रू २१.००'},
 {'Date': '06/21/2013', 'Average': 'रू २२.००'},
 {'Date': '06/25/2013', 'Average': 'रू २४.००'},
 {'Date': '06/26/2013', 'Average': 'रू २३.००'},
 {'Date': '06/27/2013', 'Average': 'रू २३.००'},
 {'Date': '06/28/2013', 'Average': 'रू २४.००'},
 {'Date': '06/30/2013', 'Average': 'रू २४.००'},
 {'Date': '07/01/2013', 'Average': 'रू २३.००'},
 {'Date': '07/02/2013', 'Average': 'रू २४.००'},
 {'Date': '07/03/2013', 'Average': 'रू २३.००'},
 {'Date': '07/04/2013', 'Average': 'रू २४.००'},
 {'Date': '07/05/2013', 'Average': 'रू २३.००'},
 {'Date': '07/09/2013', 'Average': 'रू २४.००'},
 {'Date': '07/10/2013', 'Average': 'रू २४.००'},
 {'Date': '07/11/2013', 'Average': 'रू २४.००'},
 {'Date': '07/12/2013', 'Average': 'रू २४.००'},
 {'Date': '07/14/2013', 'Average': 'रू २४.००'},
 {'Date': '07/15/2013', 'Average': 'रू २४.००'},
 {'Date': '07/16/2013', 'Average': 'रू २४.००'},
 {'Date': '07/17/2013', 'Average': 'रू २४.००'},
 {'Date': '07/18/2013', 'Average': 'रू २४.००'},
 {'Date': '07/19/2013', 'Average': 'रू २४.००'},
 {'Date': '07/21/2013', 'Average': 'रू २५.००'},
 {'Date': '07/22/2013', 'Average': 'रू २४.००'},
 {'Date': '07/23/2013', 'Average': 'रू २४.००'},
 {'Date': '07/24/2013', 'Average': 'रू २४.००'},
 {'Date': '07/25/2013', 'Average': 'रू २४.००'},
 {'Date': '07/26/2013', 'Average': 'रू २४.००'},
 {'Date': '07/28/2013', 'Average': 'रू २४.००'},
 {'Date': '07/29/2013', 'Average': 'रू २४.००'},
 {'Date': '07/30/2013', 'Average': 'रू २४.००'},
 {'Date': '07/31/2013', 'Average': 'रू २४.००'},
 {'Date': '08/01/2013', 'Average': 'रू २४.००'},
 {'Date': '08/02/2013', 'Average': 'रू २४.००'},
 {'Date': '08/04/2013', 'Average': 'रू २८.००'},
 {'Date': '08/05/2013', 'Average': 'रू २७.००'},
 {'Date': '08/06/2013', 'Average': 'रू २७.००'},
 {'Date': '08/07/2013', 'Average': 'रू २७.००'},
 {'Date': '08/08/2013', 'Average': 'रू २६.००'},
 {'Date': '08/12/2013', 'Average': 'रू २६.००'},
 {'Date': '08/13/2013', 'Average': 'रू २८.००'},
 {'Date': '08/14/2013', 'Average': 'रू २८.००'},
 {'Date': '08/15/2013', 'Average': 'रू २८.००'},
 {'Date': '08/16/2013', 'Average': 'रू २९.००'},
 {'Date': '08/18/2013', 'Average': 'रू ३०.००'},
 {'Date': '08/19/2013', 'Average': 'रू ३०.००'},
 {'Date': '08/20/2013', 'Average': 'रू ३०.००'},
 {'Date': '08/23/2013', 'Average': 'रू ३१.००'},
 {'Date': '08/25/2013', 'Average': 'रू ३१.००'},
 {'Date': '08/26/2013', 'Average': 'रू ३१.००'},
 {'Date': '08/27/2013', 'Average': 'रू ३१.००'},
 {'Date': '08/29/2013', 'Average': 'रू ३१.००'},
 {'Date': '08/30/2013', 'Average': 'रू ३१.००'},
 {'Date': '09/01/2013', 'Average': 'रू ३२.००'},
 {'Date': '09/02/2013', 'Average': 'रू ३२.००'},
 {'Date': '09/03/2013', 'Average': 'रू ३१.००'},
 {'Date': '09/04/2013', 'Average': 'रू ३२.००'},
 {'Date': '09/05/2013', 'Average': 'रू ३२.००'},
 {'Date': '09/06/2013', 'Average': 'रू ३३.००'},
 {'Date': '09/08/2013', 'Average': 'रू ३२.००'},
 {'Date': '09/09/2013', 'Average': 'रू ३२.००'},
 {'Date': '09/10/2013', 'Average': 'रू ३२.००'},
 {'Date': '09/11/2013', 'Average': 'रू ३२.००'},
 {'Date': '09/12/2013', 'Average': 'रू ३१.००'},
 {'Date': '09/13/2013', 'Average': 'रू ३१.००'},
 {'Date': '09/15/2013', 'Average': 'रू ३२.००'},
 {'Date': '09/16/2013', 'Average': 'रू ३२.००'},
 {'Date': '09/17/2013', 'Average': 'रू ३२.००'},
 {'Date': '09/19/2013', 'Average': 'रू ३२.००'},
 {'Date': '09/20/2013', 'Average': 'रू ३१.००'},
 {'Date': '09/22/2013', 'Average': 'रू ३२.००'},
 {'Date': '09/23/2013', 'Average': 'रू ३२.००'},
 {'Date': '09/24/2013', 'Average': 'रू ३१.००'},
 {'Date': '09/25/2013', 'Average': 'रू ३१.००'},
 {'Date': '09/26/2013', 'Average': 'रू २६.००'},
 {'Date': '09/27/2013', 'Average': 'रू २६.००'},
 {'Date': '09/29/2013', 'Average': 'रू २५.००'},
 {'Date': '09/30/2013', 'Average': 'रू २५.००'},
 {'Date': '10/01/2013', 'Average': 'रू २५.००'},
 {'Date': '10/02/2013', 'Average': 'रू २६.००'},
 {'Date': '10/03/2013', 'Average': 'रू २६.००'},
 {'Date': '10/04/2013', 'Average': 'रू २७.००'},
 {'Date': '10/06/2013', 'Average': 'रू २७.००'},
 {'Date': '10/07/2013', 'Average': 'रू २७.००'},
 {'Date': '10/08/2013', 'Average': 'रू २९.००'},
 {'Date': '10/09/2013', 'Average': 'रू ३१.००'},
 {'Date': '10/10/2013', 'Average': 'रू ३१.००'},
 {'Date': '10/11/2013', 'Average': 'रू ३१.००'},
 {'Date': '10/12/2013', 'Average': 'रू ३१.००'},
 {'Date': '10/13/2013', 'Average': 'रू ३१.००'},
 {'Date': '10/14/2013', 'Average': 'रू ३१.००'},
 {'Date': '10/15/2013', 'Average': 'रू ३१.००'},
 {'Date': '10/16/2013', 'Average': 'रू ३१.००'},
 {'Date': '10/17/2013', 'Average': 'रू ३१.००'},
 {'Date': '10/20/2013', 'Average': 'रू ४६.००'},
 {'Date': '10/21/2013', 'Average': 'रू ४६.००'},
 {'Date': '10/22/2013', 'Average': 'रू ४५.००'},
 {'Date': '10/23/2013', 'Average': 'रू ४९.००'},
 {'Date': '10/24/2013', 'Average': 'रू ५३.००'},
 {'Date': '10/25/2013', 'Average': 'रू ५४.००'},
 {'Date': '10/27/2013', 'Average': 'रू ५४.००'},
 {'Date': '10/28/2013', 'Average': 'रू ५१.००'},
 {'Date': '10/29/2013', 'Average': 'रू ४८.००'},
 {'Date': '10/30/2013', 'Average': 'रू ४३.००'},
 {'Date': '10/31/2013', 'Average': 'रू ४३.००'},
 {'Date': '11/01/2013', 'Average': 'रू ३७.००'},
 {'Date': '11/03/2013', 'Average': 'रू ४१.००'},
 {'Date': '11/04/2013', 'Average': 'रू ४३.००'},
 {'Date': '11/05/2013', 'Average': 'रू ४३.००'},
 {'Date': '11/06/2013', 'Average': 'रू ४३.००'},
 {'Date': '11/07/2013', 'Average': 'रू ४३.००'},
 {'Date': '11/10/2013', 'Average': 'रू ४१.००'},
 {'Date': '11/11/2013', 'Average': 'रू ३६.००'},
 {'Date': '11/12/2013', 'Average': 'रू ३६.००'},
 {'Date': '11/13/2013', 'Average': 'रू ३७.००'},
 {'Date': '11/14/2013', 'Average': 'रू ४२.००'},
 {'Date': '11/15/2013', 'Average': 'रू ४२.००'},
 {'Date': '11/16/2013', 'Average': 'रू ४२.००'},
 {'Date': '11/17/2013', 'Average': 'रू ४२.००'},
 {'Date': '11/18/2013', 'Average': 'रू ४२.००'},
 {'Date': '11/20/2013', 'Average': 'रू ४०.००'},
 {'Date': '11/21/2013', 'Average': 'रू ४१.००'},
 {'Date': '11/22/2013', 'Average': 'रू ४१.००'},
 {'Date': '11/24/2013', 'Average': 'रू ३८.००'},
 {'Date': '11/25/2013', 'Average': 'रू ३७.००'},
 {'Date': '11/26/2013', 'Average': 'रू ३७.००'},
 {'Date': '11/27/2013', 'Average': 'रू ३५.००'},
 {'Date': '11/28/2013', 'Average': 'रू ३४.००'},
 {'Date': '11/29/2013', 'Average': 'रू ३३.००'},
 {'Date': '12/01/2013', 'Average': 'रू ३१.००'},
 {'Date': '12/02/2013', 'Average': 'रू ३१.००'},
 {'Date': '12/03/2013', 'Average': 'रू ३१.००'},
 {'Date': '12/04/2013', 'Average': 'रू ३१.००'},
 {'Date': '12/05/2013', 'Average': 'रू ३१.००'},
 {'Date': '12/06/2013', 'Average': 'रू ३१.००'},
 {'Date': '12/08/2013', 'Average': 'रू ३३.००'},
 {'Date': '12/09/2013', 'Average': 'रू ३१.००'},
 {'Date': '12/10/2013', 'Average': 'रू ३१.००'},
 {'Date': '12/11/2013', 'Average': 'रू ३२.००'},
 {'Date': '12/12/2013', 'Average': 'रू ३१.००'},
 {'Date': '12/13/2013', 'Average': 'रू ३१.००'},
 {'Date': '12/15/2013', 'Average': 'रू ३१.००'},
 {'Date': '12/16/2013', 'Average': 'रू ३१.००'},
 {'Date': '12/18/2013', 'Average': 'रू २९.००'},
 {'Date': '12/19/2013', 'Average': 'रू २९.००'},
 {'Date': '12/20/2013', 'Average': 'रू २९.००'},
 {'Date': '12/22/2013', 'Average': 'रू ३१.००'},
 {'Date': '12/23/2013', 'Average': 'रू २९.००'},
 {'Date': '12/24/2013', 'Average': 'रू ३१.००'},
 {'Date': '12/26/2013', 'Average': 'रू ३१.००'},
 {'Date': '12/27/2013', 'Average': 'रू ३३.००'},
 {'Date': '12/29/2013', 'Average': 'रू ३२.००'},
 {'Date': '12/31/2013', 'Average': 'रू ३१.००'},
 {'Date': '01/01/2014', 'Average': 'रू २६.००'},
 {'Date': '01/02/2014', 'Average': 'रू २६.००'},
 {'Date': '01/03/2014', 'Average': 'रू २६.००'},
 {'Date': '01/05/2014', 'Average': 'रू २६.००'},
 {'Date': '01/06/2014', 'Average': 'रू २६.००'},
 {'Date': '01/07/2014', 'Average': 'रू २५.००'},
 {'Date': '01/08/2014', 'Average': 'रू २५.००'},
 {'Date': '01/09/2014', 'Average': 'रू २३.००'},
 {'Date': '01/10/2014', 'Average': 'रू २४.००'},
 {'Date': '01/12/2014', 'Average': 'रू २५.००'},
 {'Date': '01/13/2014', 'Average': 'रू २४.००'},
 {'Date': '01/14/2014', 'Average': 'रू २४.००'},
 {'Date': '01/16/2014', 'Average': 'रू २३.००'},
 {'Date': '01/17/2014', 'Average': 'रू २३.००'},
 {'Date': '01/19/2014', 'Average': 'रू २३.००'},
 {'Date': '01/20/2014', 'Average': 'रू २३.००'},
 {'Date': '01/21/2014', 'Average': 'रू २३.००'},
 {'Date': '01/22/2014', 'Average': 'रू २३.००'},
 {'Date': '01/23/2014', 'Average': 'रू २३.००'},
 {'Date': '01/24/2014', 'Average': 'रू २३.००'},
 {'Date': '01/26/2014', 'Average': 'रू २२.००'},
 {'Date': '01/27/2014', 'Average': 'रू २२.००'},
 {'Date': '01/28/2014', 'Average': 'रू २३.००'},
 {'Date': '01/29/2014', 'Average': 'रू २२.००'},
 {'Date': '02/02/2014', 'Average': 'रू २१.००'},
 {'Date': '02/03/2014', 'Average': 'रू १९.००'},
 {'Date': '02/04/2014', 'Average': 'रू २०.००'},
 {'Date': '02/05/2014', 'Average': 'रू १७.००'},
 {'Date': '02/06/2014', 'Average': 'रू १७.००'},
 {'Date': '02/07/2014', 'Average': 'रू १७.००'},
 {'Date': '02/08/2014', 'Average': 'रू २३.००'},
 {'Date': '02/09/2014', 'Average': 'रू १७.००'},
 {'Date': '02/10/2014', 'Average': 'रू १८.००'},
 {'Date': '02/11/2014', 'Average': 'रू १८.००'},
 {'Date': '02/12/2014', 'Average': 'रू २०.००'},
 {'Date': '02/13/2014', 'Average': 'रू १९.००'},
 {'Date': '02/14/2014', 'Average': 'रू २०.००'},
 {'Date': '02/16/2014', 'Average': 'रू २०.००'},
 {'Date': '02/17/2014', 'Average': 'रू २०.००'},
 {'Date': '02/18/2014', 'Average': 'रू २०.००'},
 {'Date': '02/20/2014', 'Average': 'रू २०.००'},
 {'Date': '02/21/2014', 'Average': 'रू २०.००'},
 {'Date': '02/23/2014', 'Average': 'रू २०.००'},
 {'Date': '02/24/2014', 'Average': 'रू २०.००'},
 {'Date': '02/25/2014', 'Average': 'रू २०.००'},
 {'Date': '02/26/2014', 'Average': 'रू २१.००'},
 {'Date': '02/28/2014', 'Average': 'रू २०.००'},
 {'Date': '03/03/2014', 'Average': 'रू २०.००'},
 {'Date': '03/05/2014', 'Average': 'रू २२.००'},
 {'Date': '03/06/2014', 'Average': 'रू २३.००'},
 {'Date': '03/07/2014', 'Average': 'रू २३.००'},
 {'Date': '03/09/2014', 'Average': 'रू २२.००'},
 {'Date': '03/10/2014', 'Average': 'रू २२.००'},
 {'Date': '03/11/2014', 'Average': 'रू २२.००'},
 {'Date': '03/12/2014', 'Average': 'रू २२.००'},
 {'Date': '03/13/2014', 'Average': 'रू २२.००'},
 {'Date': '03/14/2014', 'Average': 'रू २१.००'},
 {'Date': '03/17/2014', 'Average': 'रू २३.००'},
 {'Date': '03/18/2014', 'Average': 'रू २३.००'},
 {'Date': '03/19/2014', 'Average': 'रू २३.००'},
 {'Date': '03/20/2014', 'Average': 'रू २४.००'},
 {'Date': '03/21/2014', 'Average': 'रू २४.००'},
 {'Date': '03/23/2014', 'Average': 'रू २४.००'},
 {'Date': '03/24/2014', 'Average': 'रू २३.००'},
 {'Date': '03/25/2014', 'Average': 'रू २४.००'},
 {'Date': '03/26/2014', 'Average': 'रू २४.००'},
 {'Date': '03/27/2014', 'Average': 'रू २३.००'},
 {'Date': '03/28/2014', 'Average': 'रू २४.००'},
 {'Date': '03/31/2014', 'Average': 'रू २४.००'},
 {'Date': '04/01/2014', 'Average': 'रू २४.००'},
 {'Date': '04/02/2014', 'Average': 'रू २३.००'},
 {'Date': '04/03/2014', 'Average': 'रू २४.००'},
 {'Date': '04/04/2014', 'Average': 'रू २४.००'},
 {'Date': '04/06/2014', 'Average': 'रू २५.००'},
 {'Date': '04/07/2014', 'Average': 'रू २५.००'},
 {'Date': '04/09/2014', 'Average': 'रू २७.००'},
 {'Date': '04/10/2014', 'Average': 'रू २८.००'},
 {'Date': '04/11/2014', 'Average': 'रू २९.००'},
 {'Date': '04/13/2014', 'Average': 'रू २७.००'},
 {'Date': '04/15/2014', 'Average': 'रू २८.००'},
 {'Date': '04/16/2014', 'Average': 'रू २८.००'},
 {'Date': '04/17/2014', 'Average': 'रू २८.००'},
 {'Date': '04/18/2014', 'Average': 'रू २९.००'},
 {'Date': '04/20/2014', 'Average': 'रू २९.००'},
 {'Date': '04/21/2014', 'Average': 'रू २८.००'},
 {'Date': '04/22/2014', 'Average': 'रू २६.००'},
 {'Date': '04/23/2014', 'Average': 'रू २६.००'},
 {'Date': '04/25/2014', 'Average': 'रू २६.००'},
 {'Date': '04/27/2014', 'Average': 'रू २६.००'},
 {'Date': '04/28/2014', 'Average': 'रू २५.००'},
 {'Date': '04/29/2014', 'Average': 'रू २५.००'},
 {'Date': '04/30/2014', 'Average': 'रू २५.००'},
 {'Date': '05/02/2014', 'Average': 'रू २८.००'},
 {'Date': '05/04/2014', 'Average': 'रू २८.००'},
 {'Date': '05/05/2014', 'Average': 'रू २९.००'},
 {'Date': '05/06/2014', 'Average': 'रू २९.००'},
 {'Date': '05/07/2014', 'Average': 'रू २९.००'},
 {'Date': '05/08/2014', 'Average': 'रू ३०.००'},
 {'Date': '05/09/2014', 'Average': 'रू २९.००'},
 {'Date': '05/11/2014', 'Average': 'रू २९.००'},
 {'Date': '05/12/2014', 'Average': 'रू २९.००'},
 {'Date': '05/13/2014', 'Average': 'रू २८.००'},
 {'Date': '05/15/2014', 'Average': 'रू २८.००'},
 {'Date': '05/16/2014', 'Average': 'रू २८.००'},
 {'Date': '05/18/2014', 'Average': 'रू २८.००'},
 {'Date': '05/19/2014', 'Average': 'रू २८.००'},
 {'Date': '05/20/2014', 'Average': 'रू २८.००'},
 {'Date': '05/21/2014', 'Average': 'रू २७.००'},
 {'Date': '05/22/2014', 'Average': 'रू २९.००'},
 {'Date': '05/23/2014', 'Average': 'रू २८.००'},
 {'Date': '05/25/2014', 'Average': 'रू २८.००'},
 {'Date': '05/26/2014', 'Average': 'रू २९.००'},
 {'Date': '05/27/2014', 'Average': 'रू २९.००'},
 {'Date': '05/28/2014', 'Average': 'रू २९.००'},
 {'Date': '05/30/2014', 'Average': 'रू ३१.००'},
 {'Date': '06/01/2014', 'Average': 'रू ३१.००'},
 {'Date': '06/02/2014', 'Average': 'रू ३३.००'},
 {'Date': '06/03/2014', 'Average': 'रू ३३.००'},
 {'Date': '06/04/2014', 'Average': 'रू ३३.००'},
 {'Date': '06/05/2014', 'Average': 'रू ३३.००'},
 {'Date': '06/06/2014', 'Average': 'रू ३४.००'},
 {'Date': '06/08/2014', 'Average': 'रू ३४.००'},
 {'Date': '06/09/2014', 'Average': 'रू ३४.००'},
 {'Date': '06/10/2014', 'Average': 'रू ३५.००'},
 {'Date': '06/11/2014', 'Average': 'रू ३४.००'},
 {'Date': '06/12/2014', 'Average': 'रू ३५.००'},
 {'Date': '06/13/2014', 'Average': 'रू ३५.००'},
 {'Date': '06/15/2014', 'Average': 'रू ३७.००'},
 {'Date': '06/16/2014', 'Average': 'रू ३७.००'},
 {'Date': '06/17/2014', 'Average': 'रू ३७.००'},
 {'Date': '06/18/2014', 'Average': 'रू ३७.००'},
 {'Date': '06/19/2014', 'Average': 'रू ३९.००'},
 {'Date': '06/20/2014', 'Average': 'रू ३८.००'},
 {'Date': '06/23/2014', 'Average': 'रू ४०.००'},
 {'Date': '06/24/2014', 'Average': 'रू ३८.००'},
 {'Date': '06/25/2014', 'Average': 'रू ४१.००'},
 {'Date': '06/26/2014', 'Average': 'रू ३९.००'},
 {'Date': '06/27/2014', 'Average': 'रू ४१.००'},
 {'Date': '06/29/2014', 'Average': 'रू ४१.००'},
 {'Date': '06/30/2014', 'Average': 'रू ४१.००'},
 {'Date': '07/01/2014', 'Average': 'रू ४१.००'},
 {'Date': '07/02/2014', 'Average': 'रू ४१.००'},
 {'Date': '07/03/2014', 'Average': 'रू ४१.००'},
 {'Date': '07/04/2014', 'Average': 'रू ४१.००'},
 {'Date': '07/05/2014', 'Average': 'रू ४१.००'},
 {'Date': '07/06/2014', 'Average': 'रू ४६.००'},
 {'Date': '07/07/2014', 'Average': 'रू ३८.००'},
 {'Date': '07/08/2014', 'Average': 'रू ३६.००'},
 {'Date': '07/09/2014', 'Average': 'रू ३७.००'},
 {'Date': '07/10/2014', 'Average': 'रू ३६.००'},
 {'Date': '07/11/2014', 'Average': 'रू ३६.००'},
 {'Date': '07/12/2014', 'Average': 'रू ३७.००'},
 {'Date': '07/13/2014', 'Average': 'रू ४४.००'},
 {'Date': '07/14/2014', 'Average': 'रू ३७.००'},
 {'Date': '07/15/2014', 'Average': 'रू ३७.००'},
 {'Date': '07/16/2014', 'Average': 'रू ३७.००'},
 {'Date': '07/17/2014', 'Average': 'रू ३६.००'},
 {'Date': '07/18/2014', 'Average': 'रू ३७.००'},
 {'Date': '07/19/2014', 'Average': 'रू ४१.००'},
 {'Date': '07/20/2014', 'Average': 'रू ४१.००'},
 {'Date': '07/21/2014', 'Average': 'रू ४१.००'},
 {'Date': '07/22/2014', 'Average': 'रू ४१.००'},
 {'Date': '07/23/2014', 'Average': 'रू ४१.००'},
 {'Date': '07/24/2014', 'Average': 'रू ४१.००'},
 {'Date': '07/25/2014', 'Average': 'रू ४१.००'},
 {'Date': '07/26/2014', 'Average': 'रू ४१.००'},
 {'Date': '07/27/2014', 'Average': 'रू ४१.००'},
 {'Date': '07/28/2014', 'Average': 'रू ४१.००'},
 {'Date': '07/29/2014', 'Average': 'रू ४१.००'},
 {'Date': '07/30/2014', 'Average': 'रू ४१.००'},
 {'Date': '07/31/2014', 'Average': 'रू ४२.००'},
 {'Date': '08/01/2014', 'Average': 'रू ४१.००'},
 {'Date': '08/02/2014', 'Average': 'रू ४१.००'},
 {'Date': '08/03/2014', 'Average': 'रू ४३.००'},
 {'Date': '08/04/2014', 'Average': 'रू ४३.००'},
 {'Date': '08/05/2014', 'Average': 'रू ४३.००'},
 {'Date': '08/06/2014', 'Average': 'रू ४५.००'},
 {'Date': '08/07/2014', 'Average': 'रू ४५.००'},
 {'Date': '08/08/2014', 'Average': 'रू ४५.००'},
 {'Date': '08/09/2014', 'Average': 'रू ४५.००'},
 {'Date': '08/10/2014', 'Average': 'रू ४५.००'},
 {'Date': '08/11/2014', 'Average': 'रू ४६.००'},
 {'Date': '08/12/2014', 'Average': 'रू ४६.००'},
 {'Date': '08/13/2014', 'Average': 'रू ४६.००'},
 {'Date': '08/14/2014', 'Average': 'रू ४७.००'},
 {'Date': '08/15/2014', 'Average': 'रू ४९.००'},
 {'Date': '08/16/2014', 'Average': 'रू ४९.००'},
 {'Date': '08/17/2014', 'Average': 'रू ४९.००'},
 {'Date': '08/18/2014', 'Average': 'रू ४९.००'},
 {'Date': '08/19/2014', 'Average': 'रू ५३.००'},
 {'Date': '08/20/2014', 'Average': 'रू ५१.००'},
 {'Date': '08/21/2014', 'Average': 'रू ४६.००'},
 {'Date': '08/22/2014', 'Average': 'रू ४६.००'},
 {'Date': '08/23/2014', 'Average': 'रू ४६.००'},
 {'Date': '08/24/2014', 'Average': 'रू ४६.००'},
 {'Date': '08/25/2014', 'Average': 'रू ४६.००'},
 {'Date': '08/26/2014', 'Average': 'रू ४६.००'},
 {'Date': '08/27/2014', 'Average': 'रू ४६.००'},
 {'Date': '08/28/2014', 'Average': 'रू ४६.००'},
 {'Date': '08/29/2014', 'Average': 'रू ४६.००'},
 {'Date': '08/31/2014', 'Average': 'रू ५१.००'},
 {'Date': '09/01/2014', 'Average': 'रू ४६.००'},
 {'Date': '09/02/2014', 'Average': 'रू ४५.००'},
 {'Date': '09/03/2014', 'Average': 'रू ४५.००'},
 {'Date': '09/04/2014', 'Average': 'रू ४५.००'},
 {'Date': '09/05/2014', 'Average': 'रू ४६.००'},
 {'Date': '09/06/2014', 'Average': 'रू ४५.००'},
 {'Date': '09/07/2014', 'Average': 'रू ५३.००'},
 {'Date': '09/08/2014', 'Average': 'रू ४६.००'},
 {'Date': '09/09/2014', 'Average': 'रू ४६.००'},
 {'Date': '09/10/2014', 'Average': 'रू ४६.००'},

In [1]:
from urllib.parse import quote_plus

# Your username and password
username = "bishwajyotichaudhary46"
password = "Bismuth@123"

# Escape the username and password according to RFC 3986
escaped_username = quote_plus(username)
escaped_password = quote_plus(password)

In [2]:
escaped_password

'Bismuth%40123'

In [8]:
import pandas as pd

In [3]:
DB_NAME = "Kalimati-Database"
COLLECTION_NAME = "kalimati_data"
CONNECTION_URL = f"mongodb+srv://{escaped_username}:{escaped_password}@cluster0.tofa7.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

In [10]:
CONNECTION_URL

'mongodb+srv://bishwajyotichaudhary46:Bismuth%40123@cluster0.tofa7.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0'

In [5]:
import pymongo

In [11]:
from dotenv import load_dotenv

from pathlib import Path
from urllib.parse import quote_plus

In [12]:
import os

In [13]:
load_dotenv()
username = os.getenv('username')
password = os.getenv('password')

# Escape the username and password according to RFC 3986
escaped_username = quote_plus(username)
escaped_password = quote_plus(password)

In [14]:
escaped_username

'bishwajyotichaudhary46'

In [15]:
os.chdir('../')

In [16]:
%pwd

'f:\\Unversity\\Project\\TimeSeries\\Kalimati-tarkari'

In [19]:
from kalimati_tarkari.constants import COLLECTION_NAME,MONGODB_URL_KEY, DATABASE_NAME

In [20]:
MONGODB_URL_KEY

'mongodb+srv://bishwajyotichaudhary46:Bismuth%40123@cluster0.tofa7.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0'

In [21]:
client = pymongo.MongoClient(MONGODB_URL_KEY)
data_base = client[DATABASE_NAME]
collection = data_base[COLLECTION_NAME]

In [22]:
fetch_data = pd.DataFrame(list(collection.find()))
fetch_data

                           _id        Date   Average
0     672f7d550651d64efce7769c  04/15/2013  रू १५.००
1     672f7d550651d64efce7769d  04/16/2013  रू १७.००
2     672f7d550651d64efce7769e  04/17/2013  रू १८.००
3     672f7d550651d64efce7769f  04/18/2013  रू १९.००
4     672f7d550651d64efce776a0  04/21/2013  रू १९.००
...                        ...         ...       ...
4045  672f7d550651d64efce78669  11/05/2024  रू ८७.६७
4046  672f7d550651d64efce7866a  11/06/2024  रू ७७.६७
4047  672f7d550651d64efce7866b  11/07/2024  रू ७७.६७
4048  672f7d550651d64efce7866c  11/08/2024  रू ८३.००
4049  672f7d550651d64efce7866d  11/09/2024  रू ७९.००

[4050 rows x 3 columns]