In [3]:
import os

In [4]:
%pwd

'f:\\Unversity\\Project\\TimeSeries\\Kalimati-tarkari\\notebook'

In [5]:
os.chdir('../')

In [6]:
%pwd

'f:\\Unversity\\Project\\TimeSeries\\Kalimati-tarkari'

In [5]:
from datetime import datetime, timedelta
import pandas as pd

In [6]:
%pwd

'f:\\Unversity\\Project\\TimeSeries\\Kalimati-tarkari'

In [15]:
date = pd.read_csv("artifacts/retrain/my_data.csv")

In [17]:
date

               Date
0  2024-11-03 18:03

In [ ]:
current_date = datetime.now()

In [12]:
formatted_date = current_date.strftime("%Y-%m-%d %H:%M")

In [14]:
formatted_date

'2024-11-03 18:03'

In [31]:
new_date = current_date + timedelta(days=1)
df = pd.DataFrame({"Date":[new_date]})
df.to_csv("artifacts/retrain/my_date.csv",index=False)

# Print the new date
print("New date:", new_date)

New date: 2024-11-04 18:03:56.611351

In [30]:
df["Date"][0].strftime("%Y-%m-%d %H:%M")

'2024-11-04 18:03'

In [10]:
current_date

datetime.datetime(2024, 11, 3, 18, 1, 42, 764766)

In [18]:
date

               Date
0  2024-11-03 18:03

In [ ]:
print(type(date["Date"][0]))
today = str(formatted_date)
print(today)
if today == date["Date"][0]:
    print("matched")
    # os.system("python scraping.py")
    print("scrapped")
    #os.system("python update_db.py")
    print("Database Updated Sucessfully...!!!")
    print("Retraining  started....")
    #os.system("python main.py")
    print("Retraining Sucessfully...")

<class 'str'>
2024-11-03 18:03
matched
scrapped
Database Updated Sucessfully...!!!
Retraining  started....
Retraining Sucessfully...

In [20]:
df = pd.read_csv('notebook/test_data.csv')

In [ ]:
from urllib.parse import quote_plus
import pandas as pd
import pymongo
from kalimati_tarkari.constants import COLLECTION_NAME, MONGODB_URL_KEY, DATABASE_NAME

In [21]:
# Load the data from CSV
df = pd.read_csv("notebook/final_data.csv")

# Filter the DataFrame for 'आलु रातो' (Potato)
df_potato = df[df['Commodity'] == 'आलु रातो']
df_potato = df_potato[['Date', 'Average']]  # Selecting 'Date' and 'Average' columns

# Convert the DataFrame to dictionary format (list of records)
data = df_potato.to_dict(orient='records')

# Select the last record
last_data = data[-1]

In [22]:
last_data

{'Date': '09/29/2024', 'Average': 'रू ७८.३३'}

In [23]:
# MongoDB client connection
client = pymongo.MongoClient(MONGODB_URL_KEY)
data_base = client[DATABASE_NAME]
collection = data_base[COLLECTION_NAME]

In [ ]:
# Insert the last record into the collection
rec = collection.insert_one(last_data)

In [2]:
import pandas as pd

In [ ]:
last_date = pd.read_csv("notebook/final_data.csv")

324811    11/09/2024
Name: Date, dtype: object